openapi: 3.0.0
info:
  title: Kallipolis ZK Security API
  version: 3.0.0
  description: |
    AI-Powered Security Layer for Polygon AggLayer.
    Features:
    - Real-time MEV detection
    - Smart contract audit (Slither, Mythril, Gemini)
    - Bridge verification
    - ZK proof generation
    - Formal verification
servers:
  - url: https://api.kallipolis.ai/v1
    description: Production server
  - url: http://localhost:3000/api/v1
    description: Development server

paths:
  /health:
    get:
      summary: Health check
      description: Returns system status and blockchain connectivity
      responses:
        '200':
          description: System is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [OPERATIONAL, DEGRADED, OFFLINE]
                  platform:
                    type: string
                  version:
                    type: string
                  blockchain_nodes:
                    type: object
                    properties:
                      polygon_mainnet:
                        type: string
                        enum: [CONNECTED, DISCONNECTED]
                      polygon_zkevm:
                        type: string
                        enum: [CONNECTED, DISCONNECTED]
                      polygon_amoy:
                        type: string
                        enum: [CONNECTED, DISCONNECTED]
                  timestamp:
                    type: string
                    format: date-time

  /audit/analyze:
    post:
      summary: Smart contract security audit
      description: Analyzes Solidity source code, bytecode, or contract address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_code:
                  type: string
                  description: Solidity source code
                bytecode:
                  type: string
                  description: Contract bytecode (hex)
                contract_address:
                  type: string
                  description: Contract address on Polygon
      responses:
        '200':
          description: Analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  audit_id:
                    type: string
                    example: "AUDIT-CBQZ5L9O"
                  risk_score:
                    type: number
                    minimum: 0
                    maximum: 100
                    example: 96
                  overall_status:
                    type: string
                    enum: [SECURE, REVIEW_NEEDED, VULNERABLE]
                  vulnerabilities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        severity:
                          type: string
                          enum: [CRITICAL, HIGH, MEDIUM, LOW]
                        category:
                          type: string
                        line:
                          type: integer
                        description:
                          type: string
                  formal_verification_passed:
                    type: boolean
                  gas_optimizations:
                    type: array
                    items:
                      type: string
                  execution_time_ms:
                    type: number

  /firewall/check:
    post:
      summary: MEV firewall check
      description: Validates transaction for MEV attacks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: object
                  properties:
                    hash:
                      type: string
                    from:
                      type: string
                    to:
                      type: string
                    data:
                      type: string
                    gas:
                      type: integer
                    gasPrice:
                      type: integer
      responses:
        '200':
          description: Firewall verdict
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocked:
                    type: boolean
                  reasons:
                    type: array
                    items:
                      type: string

  /bridge/verify:
    post:
      summary: Bridge Merkle root verification
      description: Validates Merkle root for LxLy bridges
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                merkle_root:
                  type: string
                chain_id:
                  type: integer
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  checks:
                    type: object
                    properties:
                      format:
                        type: boolean
                      rpc:
                        type: object
                      zk_proof:
                        type: boolean

  /zk/prove:
    post:
      summary: Generate ZK proof
      description: Generates zero-knowledge proof for a circuit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                circuit:
                  type: string
                  enum: [mempool_firewall, bridge_merkle, balance_invariant]
                inputs:
                  type: object
      responses:
        '200':
          description: ZK proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  proof:
                    type: string
                  public_signals:
                    type: array
                    items:
                      type: string

  /metrics:
    get:
      summary: Prometheus metrics
      description: Returns system performance metrics
      responses:
        '200':
          description: Metrics
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    Vulnerability:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        severity:
          type: string
        category:
          type: string
        line:
          type: integer
        description:
          type: string
    AuditResult:
      type: object
      properties:
        audit_id:
          type: string
        risk_score:
          type: number
        overall_status:
          type: string
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/Vulnerability'
        formal_verification_passed:
          type: boolean
        gas_optimizations:
          type: array
          items:
            type: string
        execution_time_ms:
          type: number
